@font-face {
  font-family: "REN_STIM";
  src: url("./font/REN_STIM.TTF");
  /* font-weight: 300; */
}

@font-face {
  font-family: "THRASHER PERSONAL USE";
  src: url("./font/THRASHER PERSONAL USE.ttf");
  /* font-weight: 300; */
}

/* THRASHER PERSONAL USE.ttf */
